body{
    font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Roboto', sans-serif;

}
.henry{
    color: rgb(218, 171, 110);
}


h1{
    font-size: 50px;
    color: rgb(84, 230, 132);
    
}
.half{
    
    width: 35%;
    float: left;
    margin-left: 7%;
   
}
.half img{
    width: 100%;
   
    

}
.half p{
    width: 100%;
    margin-top: 5% ;
}
.top-banner{
    
    background-image: url("images/16.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
section{
    height: 450px;
    padding-bottom: 10px;
    padding: 1%;
}
.link-button{
    font-weight: bold;
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-image:linear-gradient(45deg,rgb(233, 219, 25), tomato);
    padding: 6px 15px;
    border: rgb(53, 7, 7) 2px solid;
    border-radius: 6px;
}
p{
    color: dimgray;
    
}
.bottom-banner{
    background-image: url(images/dream-bg.png);
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 2px;
    
}
.single{
    box-shadow: 10px 10px 40px red;
    border-radius: 5px;
    height: 60%;
    width: 42%;

}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
    
}
#bor{
    border-left: tomato solid 10px;
}
#bro2{
   border-left: blue solid 10px;
}
footer p{
    text-align: center;
}